@model IEnumerable<StockMicroservice.Models.Stock>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>StockMVC</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Built from scratch</h2>
        <p>
            StockMVC is a sample ASP.NET Core MVC web application demonstrating how to consume a Web API RESTful service.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Michelangela/BHDemo.git">See project source code &raquo;</a></p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Symbol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>